.grid_1-1-1-1 {
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1000px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product {
    margin-inline: auto;
    padding: 5%;
  }
}
