* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(237, 233, 217);
  color: rgb(65, 58, 46);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.2rem;
  margin-right: 500px;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.329);
}

footer {
  background-color: rgba(215, 203, 175, 0.486);

  height: 50px;
  text-align: center;
  padding: 50px;
}

/* ------------------------------sold out feat start---------------------------- */

.product-item-banner {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  padding: 0.15em 0 0.25em;
  margin: -0.95em 0 0;
  font-size: 1.125em;
  color: #ba7064;
  text-align: center;
  background-color: #f2e3db;
}
.product {
  position: relative;
  min-height: 100px;
  text-align: center;
  margin: 40px 20px 20px 20px;
}
.accent-text {
  /* font-family:  */
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product-item-banner a {
  text-decoration: none;
}

/* --------------------sold out feat slut------------------ */

@media (max-width: 1000px) {
  h1 {
    margin-right: 200px;
  }
}

@media (max-width: 900px) {
  h1 {
    margin-right: 150px;
  }
}

@media (max-width: 650px) {
  h1 {
    margin-right: 10px;
  }
  footer {
    font-size: 0.9rem;
  }
}
