* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  --background-color: #fef7f3;
  --text-color: #ba7064;
  --hover-color: #c3a39d;
}

body {
  background-color: #f2e3db;
  color: rgb(65, 58, 46);
}

img {
  /* display: block; */
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.2rem;
  margin-right: 500px;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.329);
}

.buy {
  background-color: #ba7064;
  border: #ba7064;
  border-radius: 1em;
  width: 4em;
  height: 2em;
  margin-inline: auto;
}

.buy a {
  color: #fef7f3;
  font-weight: bold;
}

/* Header styling */
.line {
  height: 1px;
  width: 90%;
  background-color: #e5aca3;
  margin-inline: auto;
}
header {
  top: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
  z-index: 2;
  background-color: white;
}
header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 1rem 1rem;
  padding-bottom: 40px;
  gap: 200px;
  text-align: center;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
  font-weight: lighter;
  color: var(--text-color);
}

a:hover {
  color: var(--hover-color);
}

.search {
  padding-right: 40px;
}
.icons {
  text-align: right;
  padding: 20px 100px 20px 20px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: var(--text-color);
  border: none;

  text-decoration: none;
  font-weight: lighter;
  font-size: 1.2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.545);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.545);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: var(--hover-color);
}

a:hover {
  color: var(--hover-color);
}

.main-menu ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  color: var(--tekst-color);
  font-weight: lighter;
  text-transform: uppercase;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1400px) {
  header nav ul {
    padding: 1rem 1rem;
    gap: 100px;
  }
  .icons {
    padding: 20px 100px 20px 20px;
  }
}

@media (max-width: 1000px) {
  header nav ul {
    padding: 1rem 1rem;

    gap: 50px;
  }

  .icons {
    padding: 20px 200px 20px 20px;
  }
}

@media (max-width: 650px) {
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1rem 1rem;
    padding-bottom: 40px;
    gap: 40px;
    text-align: center;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .search {
    padding-right: 20px;
  }
  .icons {
    text-align: right;
    padding: 20px 20px 20px 20px;
  }

  .toggle-btn {
    display: block;
    color: var(--text-color);
  }

  .main-menu {
    display: contents;
  }

  .main-menu ul {
    display: none;
  }

  .main-menu.shown ul {
    padding-top: 1rem;
    display: flex;

    flex-flow: column;
    flex-basis: 100%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    margin-left: 70px;
    margin-top: -100px;
  }
}

/* ---------------------------------------------------------footer start------------------------------------- */

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.productlist main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  justify-content: center;
}

.productlist article {
  display: flex;
  flex-direction: column;
}

body h4 {
  text-align: center;
}

.information {
  text-align: center;
}

/* ------------------------------sold out feat start---------------------------- */

.product-item-banner {
  position: absolute;
  top: 37%;
  right: 0;
  left: 0;
  padding: 0.15em 0 0.25em;
  margin: -0.95em 0 0;
  font-size: 1.125em;
  color: #ba7064;
  text-align: center;
  background-color: #f2e3db;
}
.product {
  position: relative;
  min-height: 100px;
  text-align: center;
  margin: 40px 20px 20px 20px;
}
.accent-text {
  /* font-family:  */
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.product-item-banner a {
  text-decoration: none;
}

/* --------------------sold out feat slut------------------ */

/* ----------------------footer start----------------------- */
.all_footer {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.all_footer .footer_left,
.all_footer .footer_center,
.all_footer .footer_right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer_left {
  width: 30%;
}

.all_footer h3 {
  color: #ba7064;

  margin: 0;
}
.phone_number {
  padding-top: 10px;
  color: #ba7064;
}
.email {
  padding-top: 15px;
}
.email_link {
  color: #ba7064;
}

/* Footer links */

.company_name {
  margin: 0;
  padding-top: 10px;
}

/* Footer Center */

.footer_center {
  width: 39%;
}

/* Footer Right */

.footer_right {
  width: 30%;
}

.footer_icons {
  padding-top: 10px;
}

@media (max-width: 1000px) {
  .footer_all .footer_left,
  .footer_all .footer_center,
  .footer_all .footer_right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-center i {
    margin-left: 0;
  }
  .about_us {
    flex-direction: column;
  }
  .about_us img {
    flex: 0 100%;
    max-width: 100%;
  }
  .content {
    flex: 0 100%;
    max-width: 100%;
    padding: 15px;
  }
}

/* -----------------------------------------footer slut----------------------------------- */

/* -----------------------------------------om os start----------------------------------------- */
.heading {
  text-align: center;
  margin-top: 25px;
}
.heading h1 {
  font-size: 50px;
  color: #ba7064;
  margin-bottom: 10px;
}
.harding p {
  font-size: 20px;
  color: #ba7064;
  margin-bottom: 50px;
}
.about_us {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.image-coontainer {
  flex: 1 1 350px;
}
.content {
  flex: 1 1 350px;
  padding: 35px;
  border: 1px solid #ba7064;
}
.content h2 {
  color: #ba7064;
  font-size: 24px;
  margin: 15px 0px;
}
.content p {
  color: #ba7064;
  font-size: 18px;
  line-height: 1.5;
  margin: 15px 0px;
}
/* ------------------------------------ om os slut-------------------------- */

@media (max-width: 1000px) {
  h1 {
    margin-right: 200px;
  }
}

@media (max-width: 900px) {
  h1 {
    margin-right: 150px;
  }
}

@media (max-width: 650px) {
  h1 {
    margin-right: 10px;
  }
  footer {
    font-size: 0.9rem;
  }
}
